<!--<nav class="navbar navbar-fixed-top">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">101ng</a>
    </div>
    &lt;!&ndash;<h4>101 Communications Limited</h4>
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
    </div>&ndash;&gt;&lt;!&ndash;/.navbar-collapse &ndash;&gt;
</div>
</nav>-->

<!--<nav class="nav-main uk-navbar uk-navbar-attached">
    <div class="uk-container uk-container-center uk-clearfix">
        <a href="#" class="uk-navbar-toggle uk-visible-small uk-margin-small-top uk-padding-remove" data-uk-offcanvas="{target:'#offcanvas'}">
            <i class="uk-icon-menu"></i>
        </a>
        <a href="/" class="uk-navbar-brand">
            <img src="/images/logo_chesdon.png" class="uk-margin-small-top"></a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li><a href="/">Home</a></li>
            <li class="uk-active"><a href="/customer">Customer Registration</a></li>
            <li><a href="#">Purchase Orders</a></li>
        </ul>

    </div>
</nav>

<div id="navDrawer" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <div class="uk-panel">
            <ul class="uk-navbar-nav uk-hidden-small">
                <li><a href="/">Home</a></li>
                <li class="uk-active"><a href="/customer">Customer Registration</a></li>
                <li><a href="#">Purchase Orders</a></li>
            </ul>
        </div>
    </div>
</div>-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="logo-container">
            <a class="logo-main" href="/">101 Communications Limited</a>
        </h1>
    </div>
</div>