<meta charset="UTF-8">
<title>
    <%= typeof page_title != 'undefined' ? page_title : '101 Communication Ltd - Purchase Top-Up To Make Cheap International Calls' %>
</title>

<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">-->
<meta name="viewport" content="initial-scale=1.0">
<link rel="stylesheet" href="/css/material.min.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/uikit.min.css">
<link rel="stylesheet" href="/css/container.min.css">
<link rel="stylesheet" href="/css/header.min.css">
<link rel="stylesheet" href="/css/grid.min.css">
<link rel="stylesheet" href="/css/form.min.css">
<link rel="stylesheet" href="/css/dropdown.min.css">
<link rel="stylesheet" href="/css/input.min.css">
<link rel="stylesheet" href="/css/button.min.css">
<link rel="stylesheet" href="/css/site.min.css">

<style>
    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;
    }

    html,
    body {
        height: 100% !important;
    }

    body {
        background: url("images/banner_image.jpg") 40% 0 no-repeat fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }

    .page-wrap {
        min-height: 100%;
        margin-bottom: -80px;
    }

    .page-wrap::after {
        content: "";
        display: block;
    }

    .site-footer,
    .page-wrap::after {
        height: 80px;
    }

    .uk-navbar-nav > li > a {
        height: 50px;
        line-height: 50px;
    }

    .navbar-brand {
        /*background: url("images/101comms_logo_74_x_44.png") 0 0 no-repeat;*/
        text-indent: -999999px;
        width: 100px;
        height: 50px;
    }

    .jumbotron {
        background: none !important;
        padding: 0;
        margin-bottom: 120px;
    }

    .container {
        text-align: center;
    }

    .logo-container {
        text-indent: -999999px;
    }

    .logo-main {
        display: block;
        margin: 0 auto;
        background: rgba(255, 255, 255, .8) url("images/Acumeni_logo.png") no-repeat 50% 35%;
        min-height: 120px;
        width: 300px;
        border-radius: 0 0 5px 5px;
    }

    .topup_purchase_wizard {
        max-width: 780px;
        margin: 0 auto;
        padding: 2em;
        /*border: 1px solid mediumseagreen;*/
        border-radius: 5px;
        background: rgba(255, 255, 255);
        /* Fall-back for browsers that don't support rgba */
        background: rgba(255, 255, 255, .5);
        /* IE8 and earlier */
        filter: alpha(opacity=50);
        filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0.5);
    }

    .label_instruction {
        clear: both;
        overflow: auto;
        font-weight: bold;
    }

    #answer {
        margin-bottom: 1em;
    }

    #p2 {
        width: inherit;
        margin-top: 1em;
    }

    #btn_back {
        float: left;
    }

    .merchandise > input[type='submit'] {
        margin-bottom: .5em;
    }

    .product-box-container {
        position: relative;
        height: 100px;
        /*border-radius: 5px;
        border: 1px solid greenyellow;*/
    }

    .product-box {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>