<html>

<head>
    <% include partials/head %>
</head>

<body>

    <% include partials/header %>

    <div class="container topup_purchase_wizard">
        <p><%- message %></p>
            <p><a href="/">Click here to go to homepage.</a></p>
    </div>

    <footer class="container">
        <% include  partials/footer %>
    </footer>

</body>

</html>